/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

.testimonios {
    background: #ffe6f2;
    padding: 30px;
}

.testimonio-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas pasen a la siguiente fila */
    justify-content: space-around; /* Espaciado entre tarjetas */
    
}

/* Cada tarjeta en su contenedor, para controlar tamaño y margen */
.testimonio-container article {
    flex: 1 1 45%; /* Ocupa aproximadamente 45% del ancho, ajustable */
    box-sizing: border-box;
    margin: 15px;
}

/* Para que la tarjeta no sea más ancha que su contenido */
.card-content {
    padding: 10px 20px;
    background: rgba(255, 182, 235, 0.5);
    border-radius: 20px;
    width: 100%; /* Ocupa todo el ancho del artículo */
    text-align: center;
    box-shadow: 0 5px 12px rgba(0,0,0,0.2);
}

/* Opcional: ajustar tamaño de imagen para responsividad */
.testimonio-container img {
    margin: 20px 15px;
    max-height: 250px;
    height: auto;
    width: auto;
    border-radius: 20px;
}
.testimonio-container h2 {
    margin-bottom: 10px;
}

.testimonio-container p {
    font-size: 1.3rem;
    text-align: justify;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .card-content { 
     width: 90%;   
    }
    .testimonio-container h2 {
     font-size: 1.2rem;  
}

    .testimonio-container p {
    font-size: 1rem;
    }
}

@media (max-width: 480px) {
     .card-content { 
      width: 80%;    
    }
     .testimonio-container h2 {
     font-size: 1.2rem;  
    }
    .testimonio-container p {
    font-size: 1rem;
}
}